* {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  background: #000;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: -10px !important;
}

header .header .brand {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  text-decoration: none !important;
  color: #fff;
  z-index: 9;
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

header .header .brand:before {
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

header .header .brand:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: auto;
  top: 0;
  height: 0%;
  z-index: -1;
  background: #fff;
}

header .header .brand:hover {
  color: #000;
}

header .header .brand:hover:before {
  color: #000;
  height: 100%;
  top: auto;
  bottom: 0;
}

header .header .navbar_btn {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

body {
  background: #808080 url(../images/spinner.gif) no-repeat center 0;
  background-size: 10%;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

.home_banner {
  min-height: 100%;
  height: auto;
  position: relative;
  padding-bottom: 50px;
}

.home_banner .bannerIn .center_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_banner .bannerIn .center_content .coderBanner {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
  background: url(../images/code_banner.jpg) no-repeat center 50% fixed;
}

.home_banner .bannerIn .center_content .page_title {
  font-family: "Anton", sans-serif;
  letter-spacing: .1rem;
  font-size: 3.4rem;
  margin: 0;
}

.home_banner .bannerIn .center_content .page_body {
  font-size: 1rem;
  font-weight: 600;
  margin: 0px;
  padding: 5px 0 0 0;
  text-align: center;
}

.home_banner .bannerIn .center_content .boxPanel {
  padding-bottom: 30px;
  background: #fff;
  padding: 45px 45px 45px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #eee;
}

.home_banner .bannerIn .center_content .boxPanel h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.home_banner .bannerIn .center_content .boxPanel .social_icons {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 241px;
  margin: 0 auto;
}

.home_banner .bannerIn .center_content .boxPanel .social_icons li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home_banner .bannerIn .center_content .boxPanel .social_icons li a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 4px;
  background: #fff;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  border: 1px solid #adadad;
}

.home_banner .bannerIn .center_content .boxPanel .social_icons li a:hover {
  color: #000;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  background: #fff;
  border: 1px solid transparent;
}

.home_banner .bannerIn .center_content .boxPanel .projects {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li {
  position: relative;
  background: #fff;
  border-radius: 3px !important;
  overflow: hidden;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li a .projectImg {
  border-radius: 5px 5px 0 0;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li a .projectImg img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li a .skills {
  padding: 10px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li a .skills > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  margin-right: 10px;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li .cusProgress {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 5px;
  z-index: 99;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li .cusProgress .progress {
  height: 5px;
  border-radius: 0px;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li:hover .projectImg img {
  top: -30%;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li:hover .skills > img {
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.home_banner .bannerIn .center_content .boxPanel .projects > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  max-width: 23.6%;
  margin: .5rem;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: #fff;
  border: 1px solid #efefef;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a {
  display: block;
  padding: 0px;
  text-decoration: none !important;
  color: #333;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a:hover .projectName strong:after {
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  opacity: 1;
  left: 10px;
  color: #888;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a .projectName {
  padding: 0 0 0px 0;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a .projectName strong {
  font-weight: 600;
  color: #000;
  display: block;
  padding: 10px 10px;
  white-space: nowrap;
  position: relative;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a .projectName strong:after {
  content: '\f324';
  font-family: 'Font Awesome 5 pro';
  font-weight: 900;
  width: 20px;
  height: 20px;
  text-align: center;
  height: 100%;
  position: relative;
  left: -10px;
  opacity: 0;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a ul li {
  margin-right: 5px;
  font-size: 11px;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
}

.home_banner .bannerIn .center_content .boxPanel .projects > li > a ul li::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 pro';
  font-weight: 900;
  display: inline-block;
  width: 20px;
  text-align: center;
}

footer {
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 10px 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}

footer .ecart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}

footer .ecart-footer a.footer_link {
  color: #000;
  text-decoration: none;
}

@media (max-width: 767px) {
  .home_banner .bannerIn .center_content .boxPanel {
    padding: 0 5px 15px 5px;
  }
  .home_banner .bannerIn .center_content .boxPanel .projects li {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 30% !important;
            flex: 1 0 30% !important;
    margin: .2rem;
    max-width: 50%;
  }
}

@media (max-width: 580px) {
  .home_banner .bannerIn .center_content .boxPanel {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
  .home_banner .bannerIn .center_content .boxPanel .projects li {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 46% !important;
            flex: 1 0 46% !important;
    margin: .2rem;
  }
  .home_banner .bannerIn .center_content .boxPanel .projects li a .projectImg {
    height: 50px;
  }
  .home_banner .bannerIn .center_content .boxPanel .projects li a .skills {
    padding: 10px 5px 15px 5px;
  }
  .home_banner .bannerIn .center_content .boxPanel .projects li a .skills img {
    width: 23px;
    margin-right: 5px;
  }
  .home_banner .bannerIn .center_content .boxPanel .projects li a .skills strong {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */
